html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.full-page {
  height: 100%;
  width: 100%;
}

#top-down-page {
  display: flex;
  flex-direction: column;
}

#top-down-page #top {
  flex: 1;
  flex-wrap: wrap;
  font-size: 25px;
  overflow: auto;
}

#top-down-page #down {
  flex-shrink: 0;
  flex-wrap: wrap;
}

.container-center-fill {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.amino-acid-button {
  height: 60px;
  min-width: fit-content;
  width: 150px;
  font-size: 20px;
  text-transform: capitalize;
}

.centered-text {
  display: flex;
  justify-content: center;
  text-align: center;
}