#root {
  height: 100%
}

.full-page {
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  max-height: calc(100% - 40px);
  width: 100%;
  overflow: hidden;
}

#top-down-page {
  display: flex;
  flex-direction: column;
  border-width: 5px;
}

#top-down-page #top {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  overflow-y: auto;
  border-width: 2px;
  border-color: red;
}

#top-down-page #down {
  flex: 0 0 auto;
  flex-shrink: 0;
  flex-wrap: wrap;
  border-width: 2px;
  border-color:aliceblue;
}

.container-center-fill {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.amino-acid-button {
  height: 60px;
  min-width: fit-content;
  width: 150px;
  font-size: 20px;
  text-transform: capitalize;
}