.full-page {
  height: 100%;
  width: 100%;
}

#top-down-page {
  display: flex;
  flex-direction: column;
}

#top-down-page #top {
  min-height: 50px;
  height: 30%;
  width: 1;
  flex-wrap: wrap;
}

#top-down-page #down {
  height: 1;
  width: 1;
  flex-wrap: wrap;
}

.container-center-fill {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.amino-acid-button {
  height: 60px;
  min-width: fit-content;
  width: 150px;
  font-size: 30px;
  text-transform: capitalize;
}